<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Food Maps</title>
</head>
<body>
  <div id="nav-panel" onscroll="scroll_handler()">
    <div id="header">
      <img id="logo" src="/img/logo.png"/>
    </div>
    <div id="custom-search-input">
        <div class="input-group">
            <input id="search-bar" type="text" class="form-control input-lg" placeholder="What do you want to eat?" />
            <span class="input-group-btn">
                <button id="search-button" class="btn btn-info btn-lg" type="button">
                  <i class="fas fa-search"></i>
                </button>
            </span>
        </div>
    </div>
    <div id="search-result-list">
    </div>
    <div id="scroll-to-top" class="search-result card text-white bg-secondary mb-3">
      <div class="card-body">
        <h5 class="card-text center" onclick="scroll_top_top_handler()">Scroll to Top</h5>
      </div>
    </div>
  </div>
  <div id="map"></div>
  <script src="/map.js"></script>
</body>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCe4gbU4ytd3ZU1qSUCMlaSagf2conmsBg&callback=initMap">
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</html>
