<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="../css/load-place.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <title>Food Maps TV</title>
</head>
<body>
  <div id="nav-panel">
    <div id="header">
      <h1> Welcome to Food Maps TV! </h1>
      <p> Add a video to food maps! </p>
    </div>
    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <input id="video-input" class="controls" type="text" placeholder="Video URL">
    <input id="price-input" class="controls" type="text" placeholder="Price">
    <input id="series-input" class="controls" type="text" placeholder="Series Name">
    <input id="tags-input" class="controls" type="text" placeholder="Tags">
    <div class="info info-title"> Name </div>
    <div id="name-info" class="info"></div>
    <div class="info info-title"> Phone </div>
    <div id="phone-info" class="info"></div>
    <div class="info info-title"> Address </div>
    <div id="address-info" class="info"></div>
    <div class="info info-title"> Rating </div>
    <div id="rating-info" class="info"></div>
    <div class="info info-title"> URL </div>
    <div id="url-info" class="info"></div>
    <div class="info info-title"> Latitude </div>
    <div id="latitude-info" class="info"></div>
    <div class="info info-title"> Longitude </div>
    <div id="longitude-info" class="info"></div>
    <button id="submit-button" class="btn btn-primary" type="submit">Submit</button>
    <div id="added"></div>
  </div>
  <div id="map"></div>
  <script src="/loadPlace/loadPlace.js"></script>
</body>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCe4gbU4ytd3ZU1qSUCMlaSagf2conmsBg&libraries=places&callback=initAutocomplete">
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</html>
