/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
}

#nav-panel {
  color: white;
  background-color: gray;
  /* position: static; */
  width: 25%;
  float: left;
  overflow-y: auto;
  height: 100%;
}

#header {
  padding: 10px;
}

.search-result {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 5px;
}

div.search-result:hover {
  background-color: #17a2b8 !important;
  cursor: pointer;
}

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.card-text {
  margin-bottom: 5px;
}

.card-body {
  padding: 10px;
}

.card {
  margin-bottom: 0px !important;
}
