/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
}

#nav-panel {
  color: white;
  background-color: gray;
  /* position: static; */
  width: 25%;
  float: left;
  overflow-y: auto;
  height: 100%;
}

#header {
  padding: 10px;
}

.search-result {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 5px;
}

div.search-result:hover {
  background-color: #17a2b8 !important;
  cursor: pointer;
}

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.card-title {
  width: 100%;
  float: left;
}

.card-text {
  margin-bottom: 5px;
  width: 100%
}

.card-body {
  padding: 10px;
}

.card {
  margin-bottom: 0px !important;
}

.info {
  display: inline;
}

.rating {
  float: right;
}

#custom-search-input{
  padding: 3px;
  border: solid 1px #E4E4E4;
  border-radius: 6px;
  background-color: #fff;
}

#custom-search-input input{
  border: 0;
  box-shadow: none;
}

#custom-search-input .glyphicon-search{
  font-size: 23px;
}
#custom-search-input button:hover{
  cursor: pointer
}
#custom-search-input button{
  margin: 2px 0 0 0;
  background: none;
  box-shadow: none;
  border: 0;
  color: #666666;
  padding: 0 8px 0 10px;
  border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
  border: 0;
  box-shadow: none;
  border-left: solid 1px #ccc;
}

.center {
  text-align: center;
}

#logo {
  margin: 0px;
  width: 100%;
}

#header {
  padding: 0px;
}

#scroll-to-top {
  background-color: #393E46 !important;
  position: fixed;
  width: 25%;
  bottom: 0;
}
