<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <title>Food Maps TV</title>
</head>
<body>
  <div id="nav-panel">
    <div id="header">
      <h1> Welcome to Food Maps TV! </h1>
      <p> Click on one of the markers to watch the food video about it! </p>
    </div>
    <p id="search-result"> this is a serach result </p>
    <p id="search-result"> this is a serach result </p>
    <p id="search-result"> this is a serach result </p>
    <p id="search-result"> this is a serach result </p>
    <p id="search-result"> this is a serach result </p>
    <p id="search-result"> this is a serach result </p>
    <p id="search-result"> this is a serach result </p>
    <p id="search-result"> this is a serach result </p>
    <p id="search-result"> this is a serach result </p>
    <p id="search-result"> this is a serach result </p>
  </div>
  <div id="map"></div>
  <script src="/map.js"></script>
</body>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCe4gbU4ytd3ZU1qSUCMlaSagf2conmsBg&callback=initMap">
</script>
</html>
